[Desktop Entry]
Name=Firefox ESR
GenericName=Web Browser
Comment=Browse the web with Firefox ESR
Exec=firefox-esr %u
Terminal=false
Type=Application
Icon=firefox-esr
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;
StartupNotify=true
